<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BASE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
{#navigation#}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">WEBDJANGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact_us.html">CONTACT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about_us.html">ABOUT US</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="gallery.html">GALLERY</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
   
{#END OF NAVIGATION#}
{% block content %}

{% endblock %}
{% block carousel %}
    
    
{% endblock %}
{% block about %}

{% endblock %}
{#footer#}
<div class="footer">
    <h3>THIS IS MY FOOTER</h3>
    


</div>
</body>
<script src="{% static 'bootstrap/css/bootsrap.min.css' %}"></script>
</html>