<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gallery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
{#navigation#}
nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">webdjango</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about_us.html">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery.html">GALLERY</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="contact_us.html">CONTACT US</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--body-->
<nav style="background-color: #6f42c1">
   <div class="row">
     <div class="col-md-5">
       <img src="resources/pictures/fitness-1882721_1280.jpg" alt="" style="width: 400px; height: 500px;padding-top: 20px">
     </div>
     <div class="col-md-5">
       <div class="heading_container">
              <h2 style="text-size-adjust: 34%;color: white;padding-top: 20px">
                Contact Us
              </h2>
            </div>
            <form action="">
              <div>
                <input type="text" placeholder="Name" style="padding: 10px"/><br><br>
              </div>
              <div>
                <input type="email" placeholder="Email" style="padding: 10px" /><br><br>
              </div>
              <div>
                <input type="text" placeholder="Phone Number" style="padding: 10px"/><br><br>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" style="padding: 20px" /><br><br>
              </div>
              <div class="d-flex ">
                <button style="margin-left: 210px; padding: 10px">
                  Send
                </button>
              </div>
            </form>
     </div>
     
{#END OF NAVIGATION#}
<h3>THIS IS MY GALLERY PAGE </h3>
<P> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Aliquid aperiam, dolorum eveniet fuga ipsam magnam maiores
    nostrum odio optio voluptatem!</P>
</body>
</html>